[<a href="/Customer/Index/" style="color:blue">back</a>]
</br>
<form id="stt" action="/Customer/Add" method="post" >
    <h3>Add Customer</h3>
    <label for="Name">Name   </label> &#160; &nbsp;
    <span><input type="text" id="CName" name="Name"><div id="alert1" style="color:red"></div></span><br>
    <label for="Gender">Gender </label>&#160;
    <select name="Gender" id="CGender">
    <option value="male">Male</option>
    <option value="female">Female</option><br>
    <input type="button" onclick="myFuntion()" value="Submit"><br><br>
</form>

<script>
    function myFuntion()
    {
        if (document.getElementById("CName").value.trim() == "")
        {
            document.getElementById("alert1").innerHTML = "Name wasn't inserted";
            return false;
        }
        document.getElementById("stt").submit();
    }
</script>