]<form action="/Car/Update" style="float: right;">
    <h4>Change details</h4>
    <label for="No">Insert into ?  </label> &nbsp;
    <input type="number" id="No" name="No"><br>
    <label for="Name">What car ?  </label> &#160; &nbsp;
    <input type="text" id="Name" name="Name"><br>
    <label for="Price">How much ? </label>&#160;
    <input type="number" id="Price" name="Price"><br>
    <input type="submit" value="Submit">
</form>